
/* use https://github.com/rhiannonthompson/calculator/blob/main/styles.css for reference
*/

body {
    background: lightgrey;
}

.calculator {
    width: 250px;
    height: auto;
    justify-content: center;
    align-content: center;
}
.screen-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background: white;
    width: 245px;
    height: 50px;
    border-radius: 6px;
    border: 1.5px solid darkgrey;

}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(4, 50px);
}

.previous {
    font-size: 10px;
}

.current {
    font-size: 30px;
}

.large-btn {
    grid-column: span 2;
}

.btn {
    border-radius: 6px;
    background: lightgrey;
}

.btn-outline-primary {
    background: whitesmoke;
    border-color: lightblue;
}

.btn-outline-primary:hover {
    background: lightblue;
}

.btn-outline-secondary{
    background: whitesmoke;
    border-color: lightgoldenrodyellow;
}

.btn-outline-secondary:hover {
    background: lightgoldenrodyellow;
}

.btn-outline-tertiary{
    border-color: lightcoral;
}

.btn-outline-tertiary:hover{
    background: lightcoral;
}

